<configuration>
  <system.runtime.remoting>
    <application name="server">
      <service>
        <wellknow type="Tp8RemotingEx1Object.Class1, Tp8RemotingEx1Object" 
                  mode="Singleton" ObjectUri="calculator" />
        <activated type="Tp8RemotingEx1Object.Class1, Tp8RemotingEx1Object"/>
      </service>
      <channels>
        <channel port="8085" ref="tcp"></channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
