
@{
    ViewBag.Title = "Page1";
}

<h2>Page1</h2>

@using (Html.BeginForm("Page2", "Etudiant", FormMethod.Post))
{
    @Html.DropDownList("id", ViewBag.filieres as SelectList, "Selectionner une filiere", new { id = "filiere" })
    <select id="contenu" name="cne">
        <option>Selectionner un etudiant</option>
    </select>
    <input type="submit" value="Submit" />

}

@section scripts{
    <script>
        $(function () {
            $("#filiere").change(function () {
                $.get("/Etudiant/GetEtudiantByFiliere", { id: $("#filiere").val() }, function (data) {
                    $("#contenu").empty();
                    $.each(data, function (index, ligne) {
                        $("#contenu").append("<option value='" + ligne.Cne + "'>" + ligne.Nom + "</option>")
                    });
                })
            });
        });
    </script>
    }
