<configuration>
  <system.runtime.remoting>
    <application name="client">
      <client>
        <wellknow type="Tp8RemotingEx1Object.Class1, Tp8RemotingEx1Object"
                  url="tcp://localhost:8085/calculator" />
      </client>
      <client url="tcp://localhost:8085">
          <activated type="Tp8RemotingEx1Object.Class1, Tp8RemotingEx1Object"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
